@import "src/scss/variables";

.signup{
  background-color: $dark-white;
  &__part1{
    background:#e7f8ee url("../../../../assets/image/1.png") center bottom no-repeat;
    background-size: auto;
  }
}
