@import "./src/scss/variables";

.wrapper{
  overflow-y: scroll;
  overflow-x: hidden;

  &__category{
    background-color: $light-green-100;
    border-radius: $radius;
    overflow-x: auto;
    span{
      background-color: white;
      display: block;
      border-radius: $radius;
      border: 1px solid $light-gray-200;
      &.selected{
        border: 1px solid $light-green-200;
      }
    }
  }

  &__card{
    flex: 0 0 30%;
  }
}
