<div class="w-100 h-100 wrapper">
  <div class="w-100 text-left wrapper__category d-flex p-2 my-3" *ngIf="categories$">
      <span class="px-3 py-2 mx-2 align-self-center flex-shrink-0"
            [ngClass]="{'selected' : selectedCategoryId === 0}" (click)="removeCategoryFilter()">
      All Courses
    </span>
    <span *ngFor="let category of categories$ | async"
          class="px-3 py-2 mx-2 align-self-center flex-shrink-0"
          [ngClass]="{'selected' : selectedCategoryId === category.id}"
          (click)="filterByCategoryId(category)">
      {{category.name}}
    </span>
  </div>

  <div
    class="w-100 h-100 d-flex flex-row align-items-start justify-content-center justify-content-md-start gap-2 flex-wrap p-2"
    *ngIf="filteredCourses?.length > 0">
    <div class="wrapper__card my-2" *ngFor="let course of filteredCourses">
      <app-course-card [course]="course" (getSelectedCourses)="addToSelectedCourse($event)" ></app-course-card>
    </div>
  </div>


  <app-no-content *ngIf="filteredCourses?.length == 0"></app-no-content>

</div>
