<div class="w-100 custom-input d-flex flex-row justify-content-between align-items-center" >
    <input id="" class="flex-grow-1 "
           [readOnly]="readOnly"
           [type]="inputType[type]"
           [value]="value"
           (input)="onChangeInput($event)"
           [disabled]="disabled"
           [placeholder]="placeholder"
    >
  <span *ngIf="passwordFlag" class="py-1 px-2 pointer flex-grow-0" style="" (click)="changeType()">
     <img  class="" src="assets/icons/password.svg" >
   </span>


</div>
