
  <div class="w-100 card d-flex flex-column justify-content-between align-items-center">
    <div class="w-100 card__img"
         [ngStyle]="{'background-image': 'url(' +'../../../../assets/image/'+ course?.image + ')'}">
    </div>
    <div class="w-100 d-flex flex-row justify-content-between align-items-center p-2">
      <div class="card__profile align-self-center">
        <img [src]="'../../../../assets/image/'+ course?.profileUrl" alt="">
        <span class="mx-2 ">{{course?.teacher}}</span>
      </div>
      <button class="btn card__button" [disabled]="course?.isSelected"  (click)="selectCourse()">{{course.isSelected ? 'bought' : 'buy'}}</button>
    </div>
    <p class="w-100 text-left m-0 px-3"> {{course?.name}}</p>
    <div class="card__des w-100 p-2 text-left" >{{course?.description}}</div>
    <div class="w-100 px-2 py-3 card__footer w-100 d-flex flex-row justify-content-between align-items-center">
      <span >{{course?.cost}}$</span>
      <app-rating [rating]="course?.rate" ></app-rating>
    </div>
  </div>
