
<!--
<div class="book-rating" data-jest="stars">
  <span *ngFor="let fullStar of fullStars" class="fa fa-star checked" data-jest="full star"></span>
  <span *ngIf="hasAnHalfStar" class="fa fa-star-half-empty" data-jest="half star"></span>
  <span *ngFor="let emptyStar of emptyStars" class="fa fa-star-o" data-jest="empty star"></span>
</div>-->
<!--<span *ngFor="let fullStar of fullStars" style="width: 20%">-->
<!--  <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--  <path-->
<!--    d="M12 1.74152L14.7793 7.56597L14.9546 7.93335L15.3582 7.98655L21.7564 8.82995L17.0759 13.2731L16.7806 13.5533L16.8547 13.9536L18.0298 20.2993L12.3578 17.2208L12 17.0267L11.6422 17.2208L5.97022 20.2993L7.14525 13.9536L7.21937 13.5533L6.92414 13.2731L2.2436 8.82995L8.64184 7.98655L9.04541 7.93335L9.22071 7.56597L12 1.74152Z"-->
<!--    stroke="#FFB800" stroke-width="1.5"/>-->

<!--  </svg>-->
<!--</span>-->
<!--<span *ngFor="let emptyStar of emptyStars" style="width: 20%">
  <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M12 1.74152L14.7793 7.56597L14.9546 7.93335L15.3582 7.98655L21.7564 8.82995L17.0759 13.2731L16.7806 13.5533L16.8547 13.9536L18.0298 20.2993L12.3578 17.2208L12 17.0267L11.6422 17.2208L5.97022 20.2993L7.14525 13.9536L7.21937 13.5533L6.92414 13.2731L2.2436 8.82995L8.64184 7.98655L9.04541 7.93335L9.22071 7.56597L12 1.74152Z"
    stroke="#FFB800" stroke-width="1.5"/>
</svg>


</span>-->


  <div  class="d-flex flex-row justify-content-between">
    <span class="mx-2 align-self-center"> {{rating? rating: 0}}</span>
    <div class="demo" *ngFor="let fullStar of fullStars">
      <div class="box">
        <div class="clipboard  full"></div>
      </div>
    </div>
    <div class="demo" *ngIf="this.getHalfStar() != 0" >
      <div class="box">
        <div class="clipboard half" [ngStyle]="{'background-image' :getBgImage()}"></div>
      </div>
    </div>
    <div class="demo" *ngFor="let fullStar of emptyStars ">
      <div class="box">
        <div class="clipboard "></div>
      </div>
    </div>
  </div>

