
.demo{
  pposition: relative;
 // padding: 0 0 1rem;
}
.box{
  width: 20px;
  height: 20px;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
}
.clipboard{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  background-size: cover;
  background-position: center center;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

  &.full{
    background-image: linear-gradient(90deg, #ffe700 0%, #ffe700, #ffe700);
  }
  &.half{

  }
}

