<div class="file-upload d-flex flex-row justify-content-between align-items-center">
  <input class="file-upload__input" type="file" accept="image/*"
         [(ngModel)]="file"
         [ngModelOptions]="{standalone: true}"
         id="file-upload"
         (change)="changeFile($event)">
  <label class="file-upload__label my-2 d-flex flex-row justify-content-between align-items-center" for="file-upload">
   <div>
     <img  class="file-upload__img" src="assets/icons/upload.svg"/>
     <span class="file-upload__title">{{fileLabel}}</span>
   </div>


  </label>
  <img *ngIf="file" class="file-upload__img" src="assets/icons/trash.svg" (click)="removeFile()" />
</div>
