//$font-family-base: IRANSans,peyda, Arial;
$font-family-base: IRANSans,
Arial;
$font-family-peyda: peyda,
Arial;
$font-family-latin: Roboto,
Arial;

$black :#2F2F2F;
$light-black :#616161;

$dark-gray : #626262;
$gray : #767676;
$light-gray : #A1A1A1;
$light-gray-100 :#BBBBBB;
$light-gray-200 : #eeeaea;


$red :#E20613;
$light-red : #EB515A;


$green : #1C846A;
$light-green-100 : #e7f8ee;
$light-green-200 :#77CDAA;


$white: #ffffff;
$dark-white : #FCFCFC;

$shadow:0px 0px 13px rgba(103, 103, 103, 0.06);
$radius: 8px;
